:root {
    --vibrancy-dark: rgba(0, 0, 0, .2);
    --vibrancy-light: rgba(255, 255, 255, .2);
}

html {
    background: transparent !important;
}

.scroll-decoration {
    box-shadow: none !important;
}

.minimap {
    opacity: 0.6;
    background-color: transparent !important;
}

.editor-container {
    background: transparent !important;
}

.search-view .search-widget .input-box,
.search-view .search-widget .input-box .monaco-inputbox,
.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab,
.monaco-editor-background,
.monaco-editor .margin,
.monaco-workbench>.part>.content,
.monaco-workbench>.editor>.content>.one-editor-silo.editor-one,
.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title,
.monaco-workbench>.part>.title,
.monaco-workbench,
.monaco-workbench>.part,
body {
    background: transparent !important;
}

.editor-group-container>.tabs {
    background: transparent !important;
}

.editor-group-container>.tabs .tab {
    background-color: transparent !important;
}

.editor-group-container>.tabs .tab.active * {
    color: #fff !important;
    background-color: transparent !important;
}

.monaco-list.settings-toc-tree .monaco-list-row.focused {
    outline-color: rgb(37, 37, 37, 0.6) !important;
}


.monaco-list .monaco-list-row.selected {
    background-color: rgba(252, 40, 168, 0.4) !important;
    color: #00aaee;
}

.monaco-list.settings-editor-tree .monaco-list-row {
    background-color: transparent !important;
    outline-color: transparent !important;
}

.monaco-inputbox {
    background-color: rgba(41, 41, 41, 0.2) !important;
}

.monaco-editor .selected-text {
    background-color: rgba(58, 61, 65, 0.6) !important;
}

.monaco-editor .focused .selected-text {
    background-color: rgba(38, 79, 120, 0.6) !important;
}

.monaco-editor .view-overlays .current-line {
    border-color: rgba(41, 41, 41, 0.2) !important;
}

.extension-editor,
.monaco-inputbox>.wrapper>.input,
.monaco-workbench>.part.editor>.content>.one-editor-silo>.container>.title .tabs-container>.tab.active,
.preferences-editor>.preferences-header,
.preferences-editor>.preferences-editors-container.side-by-side-preferences-editor .preferences-header-container,
.monaco-editor,
.monaco-editor .inputarea.ime-input {
    background: transparent !important;
}

.editor-group-container>.tabs .tab {
    border: none !important;
}

.monaco-editor .ced-1-TextEditorDecorationType38-4a6b5fd6-4.ced-1-TextEditorDecorationType38-4::after {
    color: rgba(255, 255, 255, 0.35) !important;
}

.monaco-editor .ced-1-TextEditorDecorationType42--538f0f43-4.ced-1-TextEditorDecorationType42-4::after {
    color: rgba(153, 153, 153, 0.35) !important;
}

.monaco-editor .sticky-widget  {
    backdrop-filter: blur(5px);
    background-color: rgba(110, 110, 110, 0.4);
}

.monaco-list .monaco-scrollable-element .monaco-tree-sticky-container .monaco-tree-sticky-row.monaco-list-row {
    background-color: rgba(110, 110, 110, 0.8) !important;
    backdrop-filter: blur(5px);
}

.monaco-list .monaco-scrollable-element .monaco-tree-sticky-container {
    background-color: transparent !important;
}